.translate-page {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.translator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: auto;
  width: 100%;
}
