.container-translate {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    height: 230px;
    background-color: aliceblue;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    transition: all 0.3s ease;
    margin-top: auto;
    margin-bottom: 20px;
}

