/* Main container for the entire message area */
.message {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    overflow-y: hidden;
}

/* Container for all messages */
.container-message {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Chat area for individual messages */
.chat {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    padding: 10px;
    width: 70%;max-height: calc(100vh - 400px);
}

/* Container for each message and its avatar */
.message-container {
    display: flex;
    align-items: flex-start; /* Align items to the start (top) */
    margin: 10px 0;
}

/* Styles for the user and model messages */
.user-message, .model-message {
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%;
    word-wrap: break-word;
}

/* Specific styles for user and model messages */
.user-message {
    background-color: #daf7dc;
    align-self: flex-end;
    margin-left: auto; /* Align user messages to the right */
}

.model-message {
    background-color: #f1e3ff;
    align-self: flex-start;
    margin-right: auto; /* Align model messages to the left */
}

/* Common style for the avatar */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

/* User avatar styling */
.user-avatar {
    background-color: #4caf50;
    margin-left: 10px;
}

/* Model avatar styling */
.model-avatar {
    background-color: #673ab7;
    margin-right: 10px;
    order: -1; /* Position avatar before the message */
}

.model-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}