.chatList {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 90vh;
    /*overflow-y: hidden;*/
    padding: 20px;
    margin: 0;
    gap: 20px;
    background-color: aliceblue;
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.menu-button {
    display: none;
}

.chatList h1 {
    margin: 0;
    padding: 10px;
    font-size: 24px;
    color: black;
}

.chatList a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #423f3f;
    font-size: 16px;
    padding: 10px;
    background-color: aliceblue;
    gap: 10px;
}

.chatList a:hover {
    border-radius: 16px;
    transition: background-color 0.2s ease, color 0.2s ease;
    box-shadow: #cccccc 0 0 10px 0;
}

.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 5px 5px 0 5px;
}

.list a {
    display: block;
    padding: 15px;
    background-color: aliceblue;
}

.list a:hover {
    border-radius: 16px;
    transition: background-color 0.2s ease, color 0.2s ease;
    box-shadow: #cccccc 0 0 5px 0;
}

.active-chat {
    border-radius: 16px;
    transition: background-color 0.2s ease, color 0.2s ease;
    box-shadow: #cccccc 0 0 5px 0;
}

.footer {
    padding: 10px;
    margin-top: auto;
    border-top: 1px solid #cccccc;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1001;
    }

    .chatList {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        z-index: 1000;
    }

    .chatList.sidebar-open {
        transform: translateX(0);
    }
}

@media (min-width: 769px) {
    .chatList {
        width: 20%;
        position: static;
        transform: translateX(0);
    }

    .menu-button {
        display: none;
    }
}